includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - src
        - config
        - database

    # The level 9 is the highest level
    level: 6

    tmpDir: build/phpstan

    checkOctaneCompatibility: true
    checkModelProperties: true
    checkMissingIterableValueType: false
