includes:
    - phpstan-baseline.neon

parameters:
    paths:
        - src

    # The level 9 is the highest level
    level: 5

    tmpDir: build/phpstan

    checkMissingIterableValueType: false

    ignoreErrors:
        - '#Unsafe usage of new static#'
